{"filter":false,"title":"requirements.txt","tooltip":"/aws-modern-application-workshop/module-2/app/service/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1623415897860,"hash":"c5fff13e9385a3e4b29f4c483121ce313707a687"}